
* {
    box-sizing: border-box;
}

body{
    margin: auto;
    padding: 0;
    width: 500px;    

}

section{
    margin-top: 50% ;
    display: flex;
    width: 450px;
    height: 450px;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    /*border: 10px solid transparent;*/
    border-bottom: 10px solid #FF79DA;
    border-radius: 450px;
    animation: spin 3s linear infinite; 
}

@keyframes spin {
    0%{
      transform: rotate(0deg);
      border-top: 10px solid #FF79DA;
      border-bottom: 10px solid #9356DC;
      
    }
    
    100%{
        transform: rotate(360deg);
        border-bottom: 10px solid #FF79DA;
        border-top: 10px solid #9356DC;
    }
}


h1{
    font-family: 'Shrikhand', 'cursive';
    font-size: 2em;
    color: #9356DC ;
    text-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
    margin-right: 20px;
}

.loader{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}


span{
    width: 20px;
    height: 20px;
    margin: 15px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;;
    display: inline-block;
    align-self: center;
    transform: scale(0.2);
     animation: scaling 2.5s ease-in-out infinite;

}

@keyframes scaling{
    0%, 100%{
      transform: scale(0.2);
      background-color: #9356DC;
    }
    
    50%{
        transform: scale(1);
        background-color: #FF79DA;
    }
}

span:nth-child(1){
  animation-delay: 0.1s;
}

span:nth-child(2){
    animation-delay: 0.4s;
}

span:nth-child(3){
    animation-delay: 0.8s;
}

 