* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  font-family: 'Shrikhand', 'cursive';
}

h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

body {
  margin: auto;
  padding: 0;
  width: 375px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 165px;
  height: 30px;
}

.location {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location .icon-location {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.diner-search nav .search-btn, .order .order-btn {
  margin: 20px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(163deg, #ff79da 24%, #9356dc 77%);
  border: none;
  cursor: pointer;
}

.diner-search {
  padding: 10%;
  background-color: #f6f6f6;
}

.diner-search .title {
  text-align: center;
}

.diner-search nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.diner-search nav .search-btn {
  width: 220px;
  height: 50px;
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu a .menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 320px;
  height: 70px;
  position: relative;
}

.menu a .menu-card i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu a .menu-card h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu a .number {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 4px;
  position: absolute;
  margin: -12px;
  background: #9356DC;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu:hover {
  background: #9356dc;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3%;
}

.card {
  border-radius: 15px;
  margin: 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 335px;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.card .image-card {
  overflow: hidden;
}

.card .image-card img {
  width: 100%;
}

.card .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 0 3%;
}

.card .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .like i {
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer {
  padding: 3%;
  background-color: #353535;
}

footer div {
  padding: 10px 0;
}

footer div a, footer div i {
  color: #fff;
}

footer div img {
  width: 8em;
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(256deg) brightness(102%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(256deg) brightness(102%) contrast(102%);
}

/* ------------------------------ menu ------------------------------------ */
.restaurant-1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.restaurant-2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.restaurant-3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.restaurant-4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.Restaurant .image-restaurant {
  width: 100%;
  height: 260px;
  background-size: cover;
}

.Restaurant .name-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8%;
  border-radius: 3em 3em 0 0;
  background-color: #f6f6f6;
  margin-top: -65px;
}

.Restaurant .name-restaurant .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Restaurant .name-restaurant .like i {
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 20px 0;
}

.starter-card, .dish-card, .dessert-card {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  margin: 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 350px;
  /*height: 70px;*/
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.starter-card .starter-price, .dish-card .dish-price, .dessert-card .dessert-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 80px;
}

.order .order-btn {
  width: 186px;
  height: 50px;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */