* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card .like, .Restaurant .name-restaurant .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card .like i, .Restaurant .name-restaurant .like i {
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card .like .fa-solid, .Restaurant .name-restaurant .like .fa-solid {
  position: absolute;
  background: linear-gradient(163deg, #ff79da 24%, #9356dc 77%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

.card .like .fa-solid:active, .Restaurant .name-restaurant .like .fa-solid:active {
  -webkit-animation: heart .1ms forwards infinite;
          animation: heart .1ms forwards infinite;
}

@-webkit-keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.diner-search nav .search-btn, .order .order-btn {
  margin: 20px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(163deg, #ff79da 24%, #9356dc 77%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  cursor: pointer;
}

.diner-search nav .search-btn:hover, .order .order-btn:hover {
  background: linear-gradient(163deg, #ff79da 54%, #9356dc);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
          box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
}

.logo {
  font-family: 'Shrikhand', 'cursive';
}

h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

body {
  margin: auto;
  padding: 0;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 1090px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
    margin: 0 100px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 165px;
  height: 30px;
}

.location {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location .icon-location {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .location {
    padding: 0 25px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1090px) {
  .location {
    padding: 0 25px;
    border-radius: 10px;
  }
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  main {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1090px) {
  .bloc-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 100px;
    padding: 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.diner-search {
  width: 100%;
  padding: 10%;
  background-color: #f6f6f6;
}

.diner-search .title {
  text-align: center;
}

.diner-search nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.diner-search nav .search-btn {
  width: 220px;
  height: 50px;
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .diner-search {
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1090px) {
  .diner-search {
    background-color: white;
    border-radius: 15px;
  }
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu h2 {
  width: 100%;
}

.menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu a .menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 320px;
  height: 70px;
  position: relative;
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .menu a .menu-card {
    padding: 0 35px;
  }
}

.menu a .menu-card:hover {
  background: #e4d5f6;
}

.menu a .menu-card i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu a .menu-card h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .menu a .menu-card h2 {
    padding: 0 15px;
  }
}

.menu a .number {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 4px;
  position: absolute;
  margin: -12px;
  background: #9356DC;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1090px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3%;
}

section h2 {
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1090px) {
  section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 15px;
    margin: 100px;
  }
}

.card {
  border-radius: 15px;
  margin: 20px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 335px;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .card {
    width: 400px;
  }
}

@media only screen and (min-width: 1090px) {
  .card {
    width: 540px;
    height: 300px;
  }
}

@media only screen and (min-width: 1824px) {
  .card {
    width: 700px;
    height: 500px;
  }
}

.card .image-card {
  overflow: hidden;
  position: relative;
}

.card .image-card img {
  width: 100%;
}

.card .image-card span {
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 25px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
}

.card .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 0 3%;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer {
  padding: 3%;
  background-color: #353535;
}

footer div {
  padding: 10px 0;
}

footer div a, footer div i {
  color: #fff;
}

footer div img {
  width: 8em;
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(256deg) brightness(102%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(256deg) brightness(102%) contrast(102%);
}

/* ------------------------------ menu ------------------------------------ */
.restaurant-1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.restaurant-2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.restaurant-3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.restaurant-4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.Restaurant .image-restaurant {
  width: 100%;
  height: 260px;
  background-size: cover;
}

.Restaurant .name-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8%;
  border-radius: 3em 3em 0 0;
  background-color: #f6f6f6;
  margin-top: -65px;
}

section h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card-menu {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-menu .name-menu {
  padding: 2%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.card-menu .name-menu h2, .card-menu .name-menu p {
  text-overflow: ellipsis;
}

.card-menu .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: bold;
  padding: 2%;
}

.card-menu .check {
  position: relative;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
}

.card-menu .check .slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #99E2D0;
  -webkit-transition: 1s;
  transition: 1s;
}

.card-menu .check .slide i {
  color: #fff;
  font-size: 2em;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.card-menu:hover .check {
  width: 80px;
}

.card-menu:hover .slide {
  -webkit-transition: 1s;
  transition: 1s;
  right: 0;
}

.card-menu:hover i {
  -webkit-transform: rotate(2turn);
          transform: rotate(2turn);
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 80px;
}

.order .order-btn {
  width: 186px;
  height: 50px;
  font-size: 18px;
}

.card:nth-child(1) {
  -webkit-animation: slide-page 1s ease-out;
          animation: slide-page 1s ease-out;
}

.card:nth-child(2) {
  -webkit-animation: slide-page 1s ease-out;
          animation: slide-page 1s ease-out;
}

.card:nth-child(3) {
  -webkit-animation: slide-page 1s .1s ease-out;
          animation: slide-page 1s .1s ease-out;
}

.card:nth-child(4) {
  -webkit-animation: slide-page 1s .2s ease-out;
          animation: slide-page 1s .2s ease-out;
}

.card:nth-child(5) {
  -webkit-animation: slide-page 1s .3s ease-out;
          animation: slide-page 1s .3s ease-out;
}

.starter a:nth-child(1), .dish a:nth-child(1), .dessert a:nth-child(1) {
  -webkit-animation: slide-page 1s ease-out;
          animation: slide-page 1s ease-out;
}

.starter a:nth-child(2), .dish a:nth-child(2), .dessert a:nth-child(2) {
  -webkit-animation: slide-page 1s .1s  ease-out;
          animation: slide-page 1s .1s  ease-out;
}

.starter a:nth-child(3), .dish a:nth-child(3), .dessert a:nth-child(3) {
  -webkit-animation: slide-page 1s .2s ease-out;
          animation: slide-page 1s .2s ease-out;
}

.starter a:nth-child(4), .dish a:nth-child(4), .dessert a:nth-child(4) {
  -webkit-animation: slide-page 1s .3s ease-out;
          animation: slide-page 1s .3s ease-out;
}

.starter a:nth-child(5), .dish a:nth-child(5), .dessert a:nth-child(5) {
  -webkit-animation: slide-page 1s .4s ease-out;
          animation: slide-page 1s .4s ease-out;
}

@-webkit-keyframes slide-page {
  0% {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.7;
  }
}

@keyframes slide-page {
  0% {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.7;
  }
}
/*# sourceMappingURL=style.css.map */