
@import "lib/color-font.scss";
@import "lib/mixins.scss";
@import "lib/function.scss";
@import "lib/loaders.scss";
@import "lib/animation.scss";
@import "lib/responsive.scss";


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/*  
$primary: #9356DC;
$secondary:#FF79DA;
$tertiary: #99E2D0;

$gradient:  linear-gradient(163deg, rgba(255,121,218,1) 24%, rgba(147,86,220,1) 77%);
$gradient2: linear-gradient(163deg, rgba(255,121,218,1) 54%, rgba(147,86,220,1) );



$grey: #eaeaea;
$lightGrey: #f6f6f6;
$darkGrey: #353535;
$withe: #fff;

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$large-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;

%like {
    display: flex;
    position: relative;
    
    i{
        font-size: 25px;
        align-self: center;  
    }
    
    .fa-solid{
        position: absolute;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        &:hover{
            animation: heart .5s forwards;
            
            
        }  
    }
    
    @keyframes heart {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    } 
    
}

%btn {
    margin: 20px;
    border-radius: 25px;
    color: white;
    background: $gradient;
    box-shadow: $shadow;
    border: none;
    cursor: pointer;
    &:hover{
        background: $gradient2;
        box-shadow: $large-shadow;
    }
} 

.logo{
    font-family: 'Shrikhand', 'cursive';
}

h1, h2, h3, p  {
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 30px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}
 
p{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}
*/
body {
    margin: auto;
    padding: 0;
    width: 100%;
}

/* ---------------------------  header --------------------------- */

header{
    display: flex;
    flex-direction: column;

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px ;
    }

    @media #{$desktop-up}, #{$tv-up} {
        padding: 10px 0 ;   
    }
}

.logo {
    display: flex;
    justify-content: center;

    img {
        width: 165px;
        height: 30px;

        @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
           width: 250px;
           height: 38px;
        }
    }
}

.location {
    background-color: $grey;
    display: flex;
    justify-content: center;
    
    .icon-location {
        align-self: center;
        padding: 10px;
    }

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        padding: 0 25px;
        border-radius: 10px;
    }  
}

/* --------------------------- main --------------------------- */

header, main{
    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        margin: 0 20px;
    }

    @media #{$desktop-up}, #{$tv-up} {
        margin: 0 100px;
    }

    @media #{$tv-up} {
        margin: 0 200px;
    }
}

.bloc-content{
    @media #{$desktop-up}, #{$tv-up} {
        display: flex;
        flex-direction: row-reverse;;
        justify-content: space-between;
       
        padding: 3%;
        align-items: center;
    }
}

/* ------------ Explorer nos restaurant ------------ */

.diner-search{
    width: 100%;
    padding: 10%;
    background-color: $lightGrey;
    
    .title {
        text-align: center;
    }

    nav {
        justify-content: center;
        display: flex;
        
        .search-btn {
            @extend %btn;
            width: 220px;
            height: 50px;

            @media #{$desktop-up}, #{$tv-up} {
                width: 300px;
                height: 70px;
                font-size: 18px;
            }
        }
    }

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        border-radius: 15px;
    }

    @media #{$desktop-up}, #{$tv-up}{
        background-color: white;  
    }  
}

/* ------------ Fonctionement ------------ */

.menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3%;

    h2{
        width: 100%;   
    }

    a{
        display: flex;

        .menu-card {
            display: flex;
            justify-content: space-evenly;
            background-color: $lightGrey;
            border-radius: 25px;
            margin: 20px 0;
            box-shadow: $shadow;
            width: 320px;
            height: 70px;
            position: relative;
            padding: 0 30px;

            i{
                margin-right: 20px;
            }
    
            &:hover{
                background: lighten($primary, 30%);
            }
            
            i {
                align-self: center;
            }
            h2 {
                align-self: center;   
            }
        }

        .number {
            border-radius: 50%;
            width: 26px;
            height: 26px;
            padding: 4px;
            position: absolute;
            margin: -12px;
            background: $primary;
            color: $withe;
            text-align: center;
            align-self: center;     
        }
    }
    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;   
    }

    @media #{$desktop-up}, #{$tv-up} {
        flex-direction: column;      
    }
}

/* ------------ Restaurant ------------ */

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightGrey;
    justify-content: center;
    padding: 3%;

    h2{
        width: 100%;
    }

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 15px;
    }
}

.card {
   
    border-radius: 15px;
    margin: 20px 10px;
    box-shadow: $shadow;
    width: 90%;
    height: 252px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 330ms ease-in-out;

    @media #{$tablet-up} {
        width: 47%;   
    }

    @media #{$desktop-up} {
        width: 47%;
        height: 300px;
    }

    @media #{$tv-up} {
        width: 47%;
        height: 365px;
    }

    .image-card {
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        span{
            position: absolute;
            right: 0;
            top: 0;
            width: 75px;
            height: 25px;
            margin: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary;          
        }
    }

    .title-card {
        display: flex;
        justify-content: space-between;
        background-color: $withe;
        padding: 0 3%;
    }

    .like{
        @extend %like;
    }
    
    &:hover{
        transform: scale(1.05);
    }
}    

/* --------------------------- Footer --------------------------- */

footer {
    padding: 3%;
    background-color: $darkGrey;
    
    div{
        padding: 10px 0;
        
        a, i{
            color: $withe;
        }
        img {
            width: 8em;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(256deg) brightness(102%) contrast(102%);     
        }
    }

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        display: flex;
        justify-content: space-around;
    }
}

/* -----------/-----------/-----------/-----------/-----------/----------- menu -----------/-----------/-----------/-----------/-----------/----------- */ 


/* --------------------------- Header --------------------------- */

.previus{
    i{
        font-size: 25px;
    }
}

.logo-menu{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* --------------------------- Main --------------------------- */

/* ---------- banier restaurant ---------- */

.Restaurant{
    .image-restaurant {
        width: 100%;
        height: 260px;
        background-size: cover;
    }
    .restaurant-1{
        background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    
    .restaurant-2{
        background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }
    
    .restaurant-3{
        background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
    
    .restaurant-4{
        background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }
    .name-restaurant {
        display: flex;
        justify-content: space-between;
        padding: 0 8%;
        border-radius: 3em 3em 0 0;
        background-color: $lightGrey;
        margin-top: -65px;
        
        .like{
            @extend %like;
        }
    }
}

/* ------------ section menu ------------ */

.bloc-page{
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media #{$desktop-up}, #{$tv-up} {
        flex-direction: row;
        flex-wrap: wrap;  
    }
    
    section{
        
        @media #{$desktop-up}, #{$tv-up} {
            padding: 3%;
            display: flex;
            flex-direction: column;   
        }

        h3{
            align-self: flex-start;
            width: 100%; 
        }
    }   
}

.card-menu{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: $withe;
    border-radius: 15px;
    box-shadow: $shadow;

    .name-menu {
        padding: 2%;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        h2, p{
            text-overflow: ellipsis;
        }  
    }
    
    .price{
        display: flex;
        align-self: center;
        font-weight: bold;
        padding: 2%; 
    }
    
    .check{
        @extend %check;
        /*position: relative;
        border-radius: 0 15px 15px 0;
        overflow: hidden;
        
        
        .slide {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center ;
            right: -100%;
            width: 100%;
            height: 100%;
            background: $tertiary;
            transition: 1s;
            
            i{
                color: $withe;
                font-size: 2em;
                transition: transform 1.5s ; 
            }
        }*/
    }
    
    &:hover{
        .check{
            width: 80px; 
        }
        
        .slide{
            transition: 1s ;
            right: 0; 
        }  
        
        i{
            transform: rotate(2turn);
        }
        
    }
}

/* ------------ bouton commande ------------ */

.order{
    display: flex;
    justify-content: center;
    background-color: $lightGrey;
    padding-bottom: 80px;

    .order-btn {
        width: 186px;
        height: 50px;
        font-size: 18px;
        @extend %btn;
    }
}

/*
.card:nth-child(1){
    animation: slide-page 1s ease-out;
}
.card:nth-child(2){
    animation: slide-page 1s ease-out;
}
.card:nth-child(3){
    animation: slide-page 1s .1s ease-out;
}
.card:nth-child(4){
    animation: slide-page 1s .2s ease-out;
}
.card:nth-child(5){
    animation: slide-page 1s .3s ease-out;
}


.starter a:nth-child(1), .dish a:nth-child(1), .dessert a:nth-child(1){
    animation: slide-page 1s ease-out;
}
.starter a:nth-child(2), .dish a:nth-child(2), .dessert a:nth-child(2){
    animation: slide-page 1s .1s  ease-out;
}
.starter a:nth-child(3), .dish a:nth-child(3), .dessert a:nth-child(3){
    animation: slide-page 1s .2s ease-out;
}
.starter a:nth-child(4), .dish a:nth-child(4), .dessert a:nth-child(4){
    animation: slide-page 1s .3s ease-out;
}
.starter a:nth-child(5), .dish a:nth-child(5), .dessert a:nth-child(5){
    animation: slide-page 1s .4s ease-out;
}

@keyframes slide-page {
    0%   {transform: translateY(300%); opacity:(0);}
    100% {transform: translateY(0); opacity:(0.7);}
}
*/