/* ------------------------ Générale ---------------------------- */

*{
    box-sizing: border-box;
}                

body{
    margin: auto ;
    padding: 0; 
    width: 375px;                
    
}

.logo, h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Shrikhand', 'cursive';
}

.color-P{
   color: #9356DC;
}

.color-S{
    color: #FF79DA;
 }

 .color-T{
    color:  #99E2D0;
 }