
@import "lib/mixins.scss";
@import "lib/responsive.scss";
@import "lib/function.scss";


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
$primary: #9356DC;
$secondary:#FF79DA;
$tertiary: #99E2D0;

$gradient: linear-gradient(163deg, rgba(255,121,218,1) 24%, rgba(147,86,220,1) 77%);


$grey: #eaeaea;
$lightGrey: #f6f6f6;
$darkGrey: #353535;
$withe: #fff;

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
.logo{
    font-family: 'Shrikhand', 'cursive';
}

h1, h2, h3, p  {
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 30px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}
 
p{
    font-size: 14px;
}



a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

body {
    margin: auto;
    padding: 0;
    width: 375px;
}

 
.logo {
    display: flex;
    justify-content: center;

    img {
        width: 165px;
        height: 30px;
    }
}

.location {
    background-color: $grey;
    display: flex;
    justify-content: center;
    
    .icon-location {
        align-self: center;
    }
}

%btn{
    margin: 20px;
    border-radius: 25px;
    color: white;
    background: $gradient;
    border: none;
    cursor: pointer;

}

.diner-search{
    padding: 10%;
    background-color: $lightGrey;

    .title {
        text-align: center;
    }
    nav {
        justify-content: center;
        display: flex;

        .search-btn {
            @extend %btn;
            width: 220px;
            height: 50px;

        }
    }
    
}
    
.menu {
    align-items: center;
    display: flex;
    flex-direction: column;

    a{
        display: flex;

        .menu-card {
            display: flex;
            justify-content: space-evenly;
            background-color: $lightGrey;
            border-radius: 25px;
            margin: 20px 0;
            box-shadow: $shadow;
            width: 320px;
            height: 70px;
            position: relative;
            
            i {
                align-self: center;
            }
            h2 {
                align-self: center;
            }
        }
        .number {
            border-radius: 50%;
            width: 26px;
            height: 26px;
            padding: 4px;
            position: absolute;
            margin: -12px;
            background: $primary;
            color: $withe;
            text-align: center;
            align-self: center;
            
        }
    }
    &:hover{
        background: lighten($color: ($primary), $amount: 0);
    }
}



section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightGrey;
    justify-content: center;
    padding: 3%;
}

.card {
   
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: $shadow;
    width: 335px;
    height: 252px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .image-card {
        overflow: hidden;

        img {
            width: 100%;
        }
    }
    .title-card {
        display: flex;
        justify-content: space-between;
        background-color: $withe;
        padding: 0 3%;
    }
    .like{
        display: flex;

        i{
            font-size: 25px;
            align-self: center;
            
            
        }
    }
}    

footer {
    padding: 3%;
    background-color: $darkGrey;
    div{
        padding: 10px 0;
        
        a, i{
            color: $withe;
        }
        img {
            width: 8em;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(256deg) brightness(102%) contrast(102%);     
          }
    }
}

/* ------------------------------ menu ------------------------------------ */ 

.restaurant-1{
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.restaurant-2{
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.restaurant-3{
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.restaurant-4{
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.Restaurant{
    .image-restaurant {
        width: 100%;
        height: 260px;
        background-size: cover;
    }
    .name-restaurant {
        display: flex;
        justify-content: space-between;
        padding: 0 8%;
        border-radius: 3em 3em 0 0;
        background-color: $lightGrey;
        margin-top: -65px;

        .like{
            display: flex;
    
            i{
                font-size: 25px;
                align-self: center;
            }
        }
    }
}

section{
    h3{
        align-self: flex-start;
        padding: 20px 0;
    }
}

%card{
    width: 100%;
    background-color: $withe;
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: $shadow;
    width: 350px;
    /*height: 70px;*/
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

%price{
    display: flex;
    align-self: center;
}

.starter-card {
    @extend %card;

    .starter-price{
        @extend %price;
    }
}

.dish-card{
    @extend %card;

    .dish-price{
        @extend %price;
    }
}

.dessert-card{
    @extend %card;

    .dessert-price{
        @extend %price;
    }
}

.order{
    display: flex;
    justify-content: center;
    background-color: $lightGrey;
    padding-bottom: 80px;

    .order-btn {
        width: 186px;
        height: 50px;
        font-size: 18px;
        @extend %btn;
    }
}

