
@import "lib/mixins.scss";
@import "lib/responsive.scss";
@import "lib/function.scss";


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
$primary: #9356DC;
$secondary:#FF79DA;
$tertiary: #99E2D0;

$grey: #eaeaea;
$lightGrey: #f6f6f6;
$darkGrey: #353535;
$withe: #fff;

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
.logo, h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
  
p {
    font-family: 'Shrikhand', 'cursive';
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

body {
    margin: auto;
    padding: 0;
    width: 375px;
}

 
.logo {
    display: flex;
    justify-content: center;

    img {
        width: 165px;
        height: 30px;
    }
}

.location {
    background-color: $grey;
    display: flex;
    justify-content: center;
    
    .icon-location {
        align-self: center;
    }
}

%btn{
    margin: 20px;
    border-radius: 25px;
    background-color: $primary;
}

.diner-search{
    background-color: $lightGrey;

    .title {
        text-align: center;
    }
    nav {
        justify-content: center;
        display: flex;

        .search-btn {
            margin: 20px;
            border-radius: 25px;
            background-color: $primary;
            width: 220px;
            height: 50px;
        }
    }
    
}
    
.menu {
    align-items: center;
    display: flex;
    flex-direction: column;

    .menu-card {
        display: flex;
        justify-content: space-evenly;
        background-color: $lightGrey;
        border-radius: 25px;
        margin: 20px 0;
        box-shadow: $shadow;
        width: 320px;
        height: 70px;

        i {
            align-self: center;
        }
        h3 {
            align-self: center;
        }
    }
}



section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightGrey;
}

.card {
   
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: $shadow;
    width: 335px;
    height: 252px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .image-card {
        overflow: hidden;

        img {
            width: 100%;
        }
    }
    .title-card {
        display: flex;
        justify-content: space-between;
        background-color: $withe;
        padding: 0 3%;
    }
    .like{
        display: flex;

        i{
            font-size: 25px;
            align-self: center;
            
        }
    }
}    

footer {
    padding: 3%;
    background-color: $darkGrey;

    a, i{
        color: $withe;
    }
    img {
        width: 100px;
    }
}

/* menu A la francaise */ 

.Restaurant{
    .image-restaurant {
        width: 100%;
        height: 260px;
        background-image: url("/Users/ali/Documents/GitHub/SabriAli_3_14122021/P3_SABRI_Ali/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-size: cover;
    }
    .name-restaurant {
        display: flex;
        justify-content: space-between;
        padding: 0 8%;
        border-radius: 3em 3em 0 0;
        background-color: $lightGrey;
        margin-top: -65px;

        .like{
            display: flex;
    
            i{
                font-size: 25px;
                align-self: center;
            }
        }
    }
}

%card{
    width: 100%;
    background-color: $withe;
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: $shadow;
    width: 350px;
    /*height: 70px;*/
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

%price{
    display: flex;
    align-self: center;
}

.starter-card {
    @extend %card;

    .starter-price{
        @extend %price;
    }
}

.dish-card{
    @extend %card;

    .dish-price{
        @extend %price;
    }
}

.dessert-card{
    @extend %card;

    .dessert-price{
        @extend %price;
    }
}

.order{
    display: flex;
    justify-content: center;
    background-color: $lightGrey;

    .order-btn {
        width: 186px;
        height: 50px;
        font-size: 18px;
        @extend %btn;
    }
}

