
@import "lib/color-font.scss";
@import "lib/function.scss";
@import "lib/loaders.scss";
@import "lib/animation.scss";
@import "lib/responsive.scss";

/* --------------------------- Général --------------------------- */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0;
    width: 100%;
}

/* ---------------------------  header --------------------------- */

header{
    display: flex;
    flex-direction: column;

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px ;
    }

    @media #{$desktop-up}, #{$tv-up} {
        padding: 20px 0 ;   
    }
}

.logo {
    display: flex;
    justify-content: center;

    img {
        width: 165px;
        height: 30px;

        @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
           width: 250px;
           height: 38px;
        }
    }
}

.location {
    background-color: $grey;
    display: flex;
    justify-content: center;
    
    .icon-location {
        align-self: center;
        padding: 10px;
    }

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        padding: 0 25px;
        border-radius: 10px;
    }  
}

/* --------------------------- main --------------------------- */

header, main{
    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        margin: 0 20px;
    }

    @media #{$desktop-up}, #{$tv-up} {
        margin: 0 100px;
    }

    @media #{$tv-up} {
        margin: 0 200px;
    }
}

.bloc-content{
    @media #{$desktop-up}, #{$tv-up} {
        display: flex;
        flex-direction: row-reverse;;
        justify-content: space-between;
       
        padding: 3%;
        align-items: center;
    }
}

/* ------------ Explorer nos restaurant ------------ */

.diner-search{
    width: 100%;
    padding: 10%;
    background-color: $lightGrey;
    
    .title {
        text-align: center;
    }

    nav {
        justify-content: center;
        display: flex;
        
        .search-btn {
            @extend %btn;
            width: 220px;
            height: 50px;

            @media #{$desktop-up}, #{$tv-up} {
                width: 300px;
                height: 70px;
                font-size: 18px;
            }
        }
    }

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        border-radius: 15px;
    }

    @media #{$desktop-up}, #{$tv-up}{
        background-color: white;  
    }  
}

/* ------------ Fonctionement ------------ */

.menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3%;

    h2{
        width: 100%;   
    }

    a{
        display: flex;

        .menu-card {
            display: flex;
            justify-content: space-evenly;
            background-color: $lightGrey;
            border-radius: 25px;
            margin: 20px 0;
            box-shadow: $shadow;
            width: 320px;
            height: 70px;
            position: relative;
            padding: 0 30px;

            i{
                margin-right: 20px;
            }
    
            &:hover{
                background: lighten($primary, 30%);
            }
            
            i {
                align-self: center;
            }
            h2 {
                align-self: center;   
            }
        }

        .number {
            border-radius: 50%;
            width: 26px;
            height: 26px;
            padding: 4px;
            position: absolute;
            margin: -12px;
            background: $primary;
            color: $withe;
            text-align: center;
            align-self: center;     
        }
    }
    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;   
    }

    @media #{$desktop-up}, #{$tv-up} {
        flex-direction: column;      
    }
}

/* ------------ Restaurant ------------ */

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightGrey;
    justify-content: center;
    padding: 3%;

    h2{
        width: 100%;
    }

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 15px;
    }
}

.card {
   
    border-radius: 15px;
    margin: 20px 10px;
    box-shadow: $shadow;
    width: 90%;
    height: 252px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 330ms ease-in-out;

    @media #{$tablet-up} {
        width: 47%;   
    }

    @media #{$desktop-up} {
        width: 47%;
        height: 300px;
    }

    @media #{$tv-up} {
        width: 47%;
        height: 365px;
    }

    .image-card {
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        span{
            position: absolute;
            right: 0;
            top: 0;
            width: 75px;
            height: 25px;
            margin: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary;          
        }
    }

    .title-card {
        display: flex;
        justify-content: space-between;
        background-color: $withe;
        padding: 0 3%;
    }

    .like{
        @extend %like;
    }
    
    &:hover{
        transform: scale(1.05);
    }
}    

/* --------------------------- Footer --------------------------- */

footer {
    padding: 3%;
    background-color: $darkGrey;

    div{
        padding: 10px 0;
        
        a, i{
            color: $withe;
        }
        img {
            width: 8em;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(256deg) brightness(102%) contrast(102%);     
        }
    }

    @media #{$tablet-up}, #{$desktop-up}, #{$tv-up} {
        display: flex;
        justify-content: space-around;
    }
}

/* -----------/-----------/-----------/-----------/-----------/----------- Page Menu -----------/-----------/-----------/-----------/-----------/----------- */ 


/* --------------------------- Header --------------------------- */

.previus{
    display: flex;
    align-items: center;

    i{
        font-size: 25px;
    }
}

.logo-menu{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* --------------------------- Main --------------------------- */

/* ---------- banier restaurant ---------- */

.Restaurant{
    .image-restaurant {
        width: 100%;
        height: 260px;
        background-size: cover;
    }
    .restaurant-1{
        background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    
    .restaurant-2{
        background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }
    
    .restaurant-3{
        background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
    
    .restaurant-4{
        background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }

    .name-restaurant {
        display: flex;
        justify-content: space-between;
        padding: 0 8%;
        border-radius: 3em 3em 0 0;
        background-color: $lightGrey;
        margin-top: -65px;
        
        h1 {
            font-size: 30px;
            width: 100%;
            text-align: center;
        }

        .like{
            @extend %like;
        }
    }
}

/* ------------ section menu ------------ */

.bloc-page{
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media #{$desktop-up}, #{$tv-up} {
        flex-direction: row;
        flex-wrap: wrap;  
    }
    
    section{
        
        @media #{$desktop-up}, #{$tv-up} {
            padding: 3%;
            display: flex;
            flex-direction: column;   
        }

        h3{
            align-self: flex-start;
            width: 100%; 
        }
    }   
}

.card-menu{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: $withe;
    border-radius: 15px;
    box-shadow: $shadow;

    .name-menu {
        padding: 2%;
        width: 100%;
        overflow: hidden;
        
        h2, p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }  
    }
    
    .price{
        display: flex;
        align-self: center;
        font-weight: bold;
        padding: 2%; 
    }
    
    .check{
        @extend %check;
    }
    
    &:hover{
        .check{
            width: 80px; 
        }
        
        .slide{
            right: 0; 
        }  
        
        i{
            transform: rotate(2turn);
        }
        
    }
}

/* ------------ bouton commande ------------ */

.order{
    display: flex;
    justify-content: center;
    background-color: $lightGrey;
    padding-bottom: 80px;

    .order-btn {
        width: 186px;
        height: 50px;
        font-size: 18px;
        @extend %btn;
    }
}
