@charset "UTF-8";
.logo {
  font-family: 'Shrikhand', 'cursive';
}

h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

/* ---------------------- bouton --------------------- */
.diner-search nav .search-btn, .order .order-btn {
  margin: 20px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(163deg, #ff79da 24%, #9356dc 77%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  cursor: pointer;
}

.diner-search nav .search-btn:hover, .order .order-btn:hover {
  background: linear-gradient(163deg, #ff79da 54%, #9356dc);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
          box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
}

/* ---------------------- like --------------------- */
.card .like, .Restaurant .name-restaurant .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card .like i, .Restaurant .name-restaurant .like i {
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card .like .fa-solid, .Restaurant .name-restaurant .like .fa-solid {
  position: absolute;
  background: linear-gradient(163deg, #ff79da 24%, #9356dc 77%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

.card .like .fa-solid:active, .Restaurant .name-restaurant .like .fa-solid:active {
  -webkit-animation: heart .5s forwards;
          animation: heart .5s forwards;
}

@media only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .card .like .fa-solid:hover, .Restaurant .name-restaurant .like .fa-solid:hover {
    -webkit-animation: heart .5s forwards;
            animation: heart .5s forwards;
  }
}

/* ---------------------- validation --------------------- */
.card-menu .check {
  position: relative;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
}

.card-menu .check .slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #99E2D0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.card-menu .check .slide i {
  color: #fff;
  font-size: 2em;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: ghostwhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  opacity: 0.9;
  -webkit-animation: vanish 2s .5s forwards;
          animation: vanish 2s .5s forwards;
}

.loader-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 370px;
  border-radius: 370px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.loader-circle h1 {
  font-family: 'Shrikhand', 'cursive';
  font-size: 22px;
  color: #9356DC;
  text-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
  margin: 20px;
}

.loader-circle::after {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  border: 10px solid transparent;
  border-radius: 100%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.loader-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader-dots span {
  width: 10px;
  height: 10px;
  margin: 15px;
  border-radius: 100%;
  background-color: #FF79DA;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
          box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-animation: grow 2.5s .5s ease-in-out infinite;
          animation: grow 2.5s .5s ease-in-out infinite;
}

/* --------------------------------- page de chargement --------------------------------- */
@-webkit-keyframes vanish {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes vanish {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-bottom: 10px solid #9356DC;
    border-top: 10px solid #FF79DA;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-bottom: 10px solid #FF79DA;
    border-top: 10px solid #9356DC;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-bottom: 10px solid #9356DC;
    border-top: 10px solid #FF79DA;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-bottom: 10px solid #FF79DA;
    border-top: 10px solid #9356DC;
  }
}

@-webkit-keyframes grow {
  0%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #FF79DA;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #9356DC;
  }
}

@keyframes grow {
  0%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #FF79DA;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #9356DC;
  }
}

.loader-dots span:nth-child(1) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.loader-dots span:nth-child(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.loader-dots span:nth-child(3) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

/* --------------------------------- slide  --------------------------------- */
@-webkit-keyframes slide-page {
  0% {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.7;
  }
}
@keyframes slide-page {
  0% {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.7;
  }
}

.card:nth-child(1) {
  -webkit-animation: slide-page 1s ease-out;
          animation: slide-page 1s ease-out;
}

.card:nth-child(2) {
  -webkit-animation: slide-page 1s ease-out;
          animation: slide-page 1s ease-out;
}

.card:nth-child(3) {
  -webkit-animation: slide-page 1s .1s ease-out;
          animation: slide-page 1s .1s ease-out;
}

.card:nth-child(4) {
  -webkit-animation: slide-page 1s .2s ease-out;
          animation: slide-page 1s .2s ease-out;
}

.card:nth-child(5) {
  -webkit-animation: slide-page 1s .3s ease-out;
          animation: slide-page 1s .3s ease-out;
}

.starter a:nth-child(1), .dish a:nth-child(1), .dessert a:nth-child(1) {
  -webkit-animation: slide-page 1s ease-out;
          animation: slide-page 1s ease-out;
}

.starter a:nth-child(2), .dish a:nth-child(2), .dessert a:nth-child(2) {
  -webkit-animation: slide-page 1s .1s  ease-out;
          animation: slide-page 1s .1s  ease-out;
}

.starter a:nth-child(3), .dish a:nth-child(3), .dessert a:nth-child(3) {
  -webkit-animation: slide-page 1s .2s ease-out;
          animation: slide-page 1s .2s ease-out;
}

.starter a:nth-child(4), .dish a:nth-child(4), .dessert a:nth-child(4) {
  -webkit-animation: slide-page 1s .3s ease-out;
          animation: slide-page 1s .3s ease-out;
}

.starter a:nth-child(5), .dish a:nth-child(5), .dessert a:nth-child(5) {
  -webkit-animation: slide-page 1s .4s ease-out;
          animation: slide-page 1s .4s ease-out;
}

/* --------------------------------- LIKE --------------------------------- */
@-webkit-keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------------- Général --------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  width: 100%;
}

/* ---------------------------  header --------------------------- */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  header {
    padding: 20px 0;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .logo {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.logo img {
  width: 165px;
  height: 30px;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .logo img {
    width: 250px;
    height: 38px;
  }
}

.location {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location .icon-location {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
}

.location .city-location {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.location .city-location input {
  border: none;
  background: transparent;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .location {
    padding: 0 25px;
    border-radius: 10px;
  }
}

/* --------------------------- main --------------------------- */
@media only screen and (min-width: 768px), only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  header, main {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  header, main {
    margin: 0 100px;
  }
}

@media only screen and (min-width: 1824px) {
  header, main {
    margin: 0 200px;
  }
}

@media only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .bloc-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* ------------ Explorer nos restaurant ------------ */
.diner-search {
  width: 100%;
  padding: 10%;
  background-color: #f6f6f6;
}

.diner-search .title {
  text-align: center;
}

.diner-search nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.diner-search nav .search-btn {
  width: 220px;
  height: 50px;
}

@media only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .diner-search nav .search-btn {
    width: 300px;
    height: 70px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px), only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .diner-search {
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .diner-search {
    background-color: white;
  }
}

/* ------------ Fonctionement ------------ */
.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3%;
}

.menu h2 {
  width: 100%;
}

.menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu a .menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 320px;
  height: 70px;
  position: relative;
  padding: 0 30px;
}

.menu a .menu-card i {
  margin-right: 20px;
}

.menu a .menu-card:hover {
  background: #e4d5f6;
}

.menu a .menu-card i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu a .menu-card h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu a .number {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 4px;
  position: absolute;
  margin: -12px;
  background: #9356DC;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* ------------ Restaurant ------------ */
.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3%;
}

.home-section h2 {
  width: 100%;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .home-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 15px;
  }
}

.card {
  border-radius: 15px;
  margin: 20px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 90%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 47%;
  }
}

@media only screen and (min-width: 1090px) {
  .card {
    width: 47%;
    height: 300px;
  }
}

@media only screen and (min-width: 1824px) {
  .card {
    width: 47%;
    height: 365px;
  }
}

.card .image-card {
  overflow: hidden;
  position: relative;
}

.card .image-card img {
  width: 100%;
}

.card .image-card span {
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 25px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
}

.card .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 0 3%;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* --------------------------- Footer --------------------------- */
footer {
  padding: 3%;
  background-color: #353535;
}

footer div {
  padding: 10px 0;
}

footer div a, footer div i {
  color: #fff;
}

footer div img {
  width: 8em;
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(256deg) brightness(102%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(256deg) brightness(102%) contrast(102%);
}

@media only screen and (min-width: 768px), only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* -----------/-----------/-----------/-----------/-----------/----------- Page Menu -----------/-----------/-----------/-----------/-----------/----------- */
/* --------------------------- Header --------------------------- */
.previus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.previus i {
  font-size: 25px;
}

.logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

/* --------------------------- Main --------------------------- */
/* ---------- banier restaurant ---------- */
.Restaurant .image-restaurant {
  width: 100%;
  height: 260px;
  background-size: cover;
}

.Restaurant .restaurant-1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.Restaurant .restaurant-2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.Restaurant .restaurant-3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.Restaurant .restaurant-4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.Restaurant .name-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8%;
  border-radius: 3em 3em 0 0;
  background-color: #f6f6f6;
  margin-top: -65px;
}

.Restaurant .name-restaurant h1 {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

/* ------------ section menu ------------ */
.bloc-page {
  width: 100%;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .bloc-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1090px), only screen and (min-width: 1824px) {
  .bloc-page section {
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bloc-page section h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.card-menu {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-menu .name-menu {
  padding: 2%;
  width: 100%;
  overflow: hidden;
}

.card-menu .name-menu h2, .card-menu .name-menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-menu .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: bold;
  padding: 2%;
}

.card-menu:hover .check {
  width: 80px;
}

.card-menu:hover .slide {
  right: 0;
}

.card-menu:hover i {
  -webkit-transform: rotate(2turn);
          transform: rotate(2turn);
}

/* ------------ bouton commande ------------ */
.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 80px;
}

.order .order-btn {
  width: 186px;
  height: 50px;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */